<div
  class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white h-100"
  style="width: 240px"
>
  <a
    routerLink="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <span class="fs-4">Banco de Sangue</span>
  </a>

  <hr class="border-secondary" />

  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav- m-2">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link text-white"
      >
        🏠 Início
      </a>
    </li>
    <li class="nav-item m-2">
      <a
        routerLink="/doadores/cadastrar"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        🧍 Cadastrar Doador
      </a>
    </li>
    <li class="nav-item m-2">
      <a
        routerLink="/agendamentos/cadastrar"
        routerLinkActive="active"
        class="nav-link text-white"
      >
        📅 Agendar Doação
      </a>
    </li>
  </ul>
  <hr class="border-secondary" />
</div>
