.nav-link {
  transition: all 0.1s ease-in-out;
  color: #555;
}
.nav-link:hover {
  color: #dc3545 !important;
}

.nav-link.active {
  color: #dc3545 !important;
  font-weight: 600;
  border-bottom: 2px solid #dc3545;
}
