<header class="navbar navbar-expand-lg fixed-top bg-white shadow-sm px-4 py-3 mx-4 mt-3 rounded-3 border border-light">
  <div class="container-fluid p-0 d-flex justify-content-between align-items-center">
    <a routerLink="/" class="navbar-brand d-flex align-items-center gap-2">
      <span class="fw-bold fs-5 text-dark">Banco de Sangue</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuHeader">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="menuHeader">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link fw-medium transition">
            Início
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/doadores/cadastrar" routerLinkActive="active" class="nav-link fw-medium transition">
            Cadastrar Doador
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/agendamentos" routerLinkActive="active" class="nav-link fw-medium transition">
            Agendar Doação
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/estatisticas" routerLinkActive="active" class="nav-link fw-medium transition">
            Estatísticas
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
